.chat-name-bar{
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px; 
    margin-right: 10px;
    height: 60px;
    width: 93%;
    align-items: center;
    display: grid;
  
}

.testtttttttt{
    display: flex;
}

.chat-name{
    margin-top: 7px;
    color: white;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 14px;
    /* justify-content: center; */
}

.chat-name-bar:hover{
    background-color: #414755;
}

.chat-profile-image{
    background-color: #525a6b;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 15px;
}

