.chatMessages-background{
    width: 100%;
    height: 97.5vh;
    margin: 0;
    padding: 0;
}

.messages-log-background{
    height: calc(100% - 125px);
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    
}

.messages-log-background::-webkit-scrollbar {
    width: 10px;
}

.messages-log-background::-webkit-scrollbar-track {
    background: #414755; 
}

.messages-log-background::-webkit-scrollbar-thumb {
    background: #2e333d; 
}

.messages-log-background::-webkit-scrollbar-thumb:hover {
    background: #292d36; 
}


.chat-message-header{
    color: white;
    display: flex;
    height: 65px;
    width: 100%;
    background: #343a45;
    border-top-right-radius: 20px;
    /* margin-bottom: 20px; */
    align-items: center;
}

.chat-message-profile-pic{
    margin-left: 20px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.chat-message-profile-name{
    margin-left: 20px;
    /* background-color: blue; */
    width: 88%;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size:16px;
}

.chat-message-menu-icon{
    color: #aebac1;
    width: 20px;
    height: 20px;
 
}




.chat-message-and-timestamp-internal{
    background-color: grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    justify-content:right;
}

.chat-message-and-timestamp-external{
    background-color: rgb(100, 99, 99);
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    justify-content:right;
}


.chat-message-internal-align{
    /* background-color: beige; */
    display: flex;
    justify-content: end;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.chat-message-external-align{
    display: flex;
    justify-content: start;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chat-message-internal{
    display: inline-block;
    background-color: grey;
    padding:10px;
    border-radius: 10px;
    max-width:550px;
    color: white;
    word-wrap: break-word;
}

.chat-message-external{
    display: inline-block;
    padding:10px;
    max-width:550px;
    background-color: rgb(100, 99, 99);
    color: white;
    border-radius: 10px;
    word-wrap: break-word;
}

.message-text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size:13px;
    /* margin-left: 20px; */
    /* margin-top: 5px; */
}


.message-footer{
    display: flex;
    height: 60px;
    width: 100%;
    border-bottom-right-radius: 20px;
    background: #343a45;
}

.message-input{
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 93%;
    height: 30px;
    background-color: #414755;
    color: white;
    border: none;
    outline: inherit;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
    background-color: #4a5161;
    text-indent: 15px;
}

.message-icon {
    margin-left: 15px;
    margin-top: 15px;
    color: white;
    height: 25px;
    width: 25px;
}



.chatMessages-background-default{
    width: 100%;
    height: 97.5vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-default-logo{
    color: rgb(219, 219, 219);
    height: 50px;
    width: 50px;
}

.message-default-text{
    margin-left: 20px;
    color: rgb(219, 219, 219);
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 40px;
}

.message-default-text-background{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-timestamp{
    margin-top: 2px;
    margin-left: 10px;
    width: 105px;
    color: rgb(226, 226, 226);
    font-family: 'Open Sans';
    font-weight: 200;
    font-size:11px;
    /* background-color: aqua; */
}

.chat-tick-icon-unread{
    margin-left: 5px;
    height: 15px;
    width: 15px;
    color:white;
}
.chat-tick-icon-read{
    margin-left: 5px;
    height: 15px;
    width: 15px;
    color: skyblue;
}



