.ChatDropdown-menu{
    position: relative;
    left: 140px;
    top: 65px;
    background-color: #282c35;
    border-radius:8px;
    width: 160px;
    color: #aebac1;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size:14px;
}

.ChatDropdown-menu.active{
    position: absolute;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 300ms ease;
}

.ChatDropdown-menu.inactive{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 300ms ease;
}

.ChatDropdown-menu ul li{
    padding: 10px  0;
}

.ChatDropdown-menu ul li:hover a{
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.ChatDropdown_dropdownItem{
    display: flex;
    
}

.ChatDropdown_dropdownItem a{
    max-width: 120px;
    transition: 300ms;
}
  
.ChatDropdown_icon-1{
    position: relative;
    left: 10px;
    top: 2px;
    right: 300px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    color: #aebac1;
    width: 20px;
    height: 20px;
}
