.MessageHeaderDropdown-menu{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #282c35;
    border-radius:8px;
    /* padding: 10px 20px; */
    width: 160px;
    color: #aebac1;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size:14px;
}

.MessageHeaderDropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 300ms ease;
}

.MessageHeaderDropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 300ms ease;
}

.MessageHeaderDropdown-menu ul li{
    padding: 10px  0;
}

.MessageHeaderDropdown-menu ul li:hover a{
    color: rgb(212, 33, 9);
    cursor: pointer;
}

.dropdownItem{
    display: flex;
    
}

.dropdownItem a{
    max-width: 120px;
    transition: 300ms;
}
  
.icon-1{
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    color: #aebac1;
    width: 20px;
    height: 20px;
}
