.main_page {
    position: absolute;
    background-color:#414755;
    /* background-color:#375bad; */
    width: 95vw;
    height: 97.5vh;
    margin-left: 60px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}