/* body {
    background-color:#2e333d;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
} */

.login-background{
    background-color:#4f5668 ;
}

.login-card{
    margin-left: 615px;
    margin-top: 260px;
    background-color: #414755;
    color: white;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    height: 210px;
}

.login-button{
    margin-top: 25px;
    margin-left: 90px;
    width: 220px;
    height: 40px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    color: black;
}

.login-button:hover{
    border-width: 10px;
    border-color: coral;
}

.google-logo{
    margin-left: 15px;
    margin-top: 5px;
    margin-right: 10px;
}

.google-signin{
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.g-btn {
    margin-left: 10px;
    margin-right: 10px;
    width: 93% !important;
    height: 40px !important;
    line-height: 40px !important;
    font-size: 15px !important;
    border-radius: 10px;
}

.g-btn > div{
width: 40px !important;
height: 38px !important;
}

.g-btn > div > svg {
width: 40px !important;
height: 38px !important;
}

.login-icons {
color: white;
height: 50px;
width: 50px;
margin-top: 10px;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
.login-background2{
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background:#4f5668;
}
span{
  position: relative;
  display: inline-flex;
  width: 280px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a{
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform .25s;
  font-family: 'Montserrat', sans-serif;
  
}
span a:before,
span a:after{
  position: absolute;
  content: "Sign in with Google";
  height: 55px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before{
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after{
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover{
  transform: translateZ(-25px) rotateX(-90deg);
}
