.Chats{
    display: flex;
    flex-direction: row;
}

.chat-sidebar{
    width: 320px;
    height: 97.5vh;
    background-color: #2e333d;
}

.chat-sidebar-header{
    margin-top: 10px;
    display: flex;
}

.chat-messages{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 80vw;
    height: 97.5vh;
    /* background-color: #414755; */
    background-color: #2048a7;
    text-align: center;
}

.chat-search-bar{
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 10px;
    width:230px;
    height: 30px;
    border-radius: 10px;
    background-color: #414755;
    border-color: #414755;
}

.chat-sidebar-icon{
    margin-top: 16px;
    margin-right: 10px;
    margin-left: 20px;
    color: white;
    height: 20px;
    width: 20px;
}

