.chat-message-internal-align{
    display: flex;
    justify-content: end;
}
.chat-message-external-align{
    display: flex;
    justify-content: start;
}

.chat-message-internal{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:200px;
    height: 40px;
    background-color: grey;
    color: white;
    border-radius: 10px;
    text-align: center;
    
}

.chat-message-external{
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:200px;
    height: 40px;
    background-color: rgb(100, 99, 99);
    color: white;
    border-radius: 10px;
}

.chat-message-header{
    background-color:  #343a45;
    width:1158px;
    height: 60px;
    margin-bottom: 20px;
    color: white;
    display: flex;
}

.chat-message-profile-pic{
    margin-top: 7px;
    margin-left: 20px;
    width: 45px;
    height: 45px;
    border-radius: 10px;
}

.chat-message-profile-name{
    margin-top: 7px;
    margin-left: 20px;
    
    
}